<% layout('layouts/boilerplate') %>

<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Todo App</h1>
    <p class="lead">Manage your tasks efficiently and effectively.</p>
    <hr class="my-4" />
    <p>Get started by viewing your todos or creating a new one.</p>
    <a class="btn btn-primary btn-lg" href="/todos" role="button">View Todos</a>
    <a class="btn btn-success btn-lg" href="/todos/new" role="button"
      >Create New Todo</a
    >
  </div>
</div>